<!DOCTYPE html>
<!-- Bootstrap Navigation Code -->

<div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a class="active" href="@{/}">Home</a>
    <a class="nav-link" th:href="@{/login}">Users<span class="sr-only"></span></a>
    <a class="nav-link" th:href="@{https://prod.idp.collegeboard.org/}">College Board Login<span class="sr-only"></span></a>
    <a class="nav-link" th:href="@{/chapters}">Chapters<span class="sr-only"></span></a>


    <div class="btn-group">

        <div class="px-3 text-dark">
            <span id="clock"></span>
        </div>

        <th:block sec:authorize="isAnonymous()">
            <div class="px-3">
                <a th:href='@{/login}' class="link-dark">Login</a>
            </div>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
            <div class="px-3">
                <a th:href='@{/logout}' class="link-dark">Logout</a>
            </div>
        </th:block>

    </div>
</div>




            <!-- Navigation bar JavaScript support -->
            <script>


                // Clock Control
                // clockElement global element set for convenience
                let clockElement = document.getElementById('clock');
                // Execute clock function on load
                clock();
                // Clock update executes on each interval set by timer
                function clock() {
                    let date = new Date();
                    clockElement.textContent = date.toLocaleString();
                }
                // Clock refresh timer, a reoccurring event
                setInterval(clock, 1000);
                // End Clock Control




            </script>

        </div>
    </nav>

</th:block>