<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

      -->

<!-- <head> -->
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>brandon</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->
<body class="main-layout">

    <div>
        <header>
            <span>Please log in</span>
        </header>
    </div>

    <div>

        <div>
            <div>
                <form name="f" th:action="@{/login}" method="POST">
                    <table>
                        <tr th:if="${param.error}" class="alert alert-error">
                            Invalid password.
                        </tr>
                        <tr th:if="${param.logout}" class="alert alert-success">
                            You have been logged out.
                        </tr>
                        <!-- 'email' is mapped to 'username' for Spring Security -->
                        <tr><th><label for="username">Email</label></th></tr>
                        <tr><td><input type="email" id='username' name="username" size="20" required></td></tr>
                        <tr><th><label for="password">Password</label></th></tr>
                        <tr><td><input type="password" id="password" name="password" size="20" required></td></tr>
                        <tr><th><input type="submit" value="Submit"></th></tr>
                        <tr><td><a th:href="@{/database/personcreate}">Sign Up</a></td></tr>

                    </table>
                </form>
            </div>
        </div>

    </div>



</body>

</html>

